h1{
    font-family: "Garamond";
    font-size: 45px;
}
p{
    font-family: "Garamond";
    font-size: 20px;
}
body{
    height:100%;
    background-image : linear-gradient(135deg,#D7FFD7,#3eb489);
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}